<section class="bio-section  text-center">
  <div class="row justify-content-center ">
    <h2 class="text-uppercase text-center">BIO</h2>
  </div>
    <div class="row justify-content-center">
      <div class="col text-center my-5">
        <img class="img-fluid" src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=240" alt="" class="">
      </div>
    </div>
    <div class="row text-center">
      <div class="col m-3 px-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quo corrupti fuga esse quos rerum deserunt sint assumenda laudantium porro ab exercitationem minus minima obcaecati ullam, animi aperiam, repellat dolore!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas unde nihil labore! Laborum iste, saepe quaerat rerum, perferendis, accusantium velit eum consequuntur architecto eaque quasi quod ratione. Velit, consequuntur molestias.</p>
      </div>
    </div>
</section>